
.failedToLoad{
  width: 640px;
  margin: 40px auto;
  border: 2px solid red;
  border-radius: 4px;
  
  .fail-message{
    padding:20px 30px;

    h3 {
      margin-top:0;
    }

    span{
      font-weight: 700;
    }
  }
}

.post-container{
  width: 100%;
  max-width: 640px;
  margin: 30px auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  
  .loading {
    margin:100px auto;
  }

  .posts {
    width: 640px;
  }

  .reddit-card{

    .card-thumbnail{
      background: cover;
    }

    .pinned {
      position: absolute;
      right: 15px;
    }

    .preview {
      width: 100%;
    }

    .actions{
      display: grid;
      grid-template-columns: 140px 140px 1fr;
      background:#4e457b;
      align-items: center;
      width: calc(100%);
      margin: 16px -16px -16px -16px;
      padding:16px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      color:#fff;
      
      .score, .comments, .ups{
        display: grid;
        justify-content: center;
        grid-template-columns: 30px 1fr;
        align-items: center;
      }

      .link {
        align-self: end;
        justify-self: end;
      }
    }
  }
}