<div class="comments-container">
  <ng-container *ngFor="let comment of (comments$ |async )">
    <ng-container *ngTemplateOutlet="singleComment; context: {comment : comment}"></ng-container>      
  </ng-container> 
</div>

<ng-template #singleComment let-comment="comment">
    <div class="single-comment">
        <div class="comment-data">
            <div class="comment-upvotes">
              <mat-icon>arrow_upward</mat-icon>  {{comment?.score}}
            </div>
            <div class="comment-score">
              <mat-icon>trending_up</mat-icon> {{comment?.ups}}
            </div>
        </div>
        <div class="comment-header">
          <div class="comment-autor">
            {{comment?.author}} - 
             {{comment?.created_utc | datePipe | date }}
          </div>
          <div class="comment-date">
              
          </div>
        </div>
        <div class="comment-body">
          <div class="comment" [innerHtml]="comment?.body_html">
              
          </div>
        </div>
      </div>
      <div class="comment-replies" *ngIf="comment?.replies">
          <ng-container *ngFor="let comment of comment.replies.data.children">
            <ng-container *ngIf="comment.kind != 'more'" >
                <ng-container *ngTemplateOutlet="singleComment; context: {comment : comment.data}">
                  </ng-container>
            </ng-container>
          </ng-container>
      </div>   
</ng-template>